<h1>New Type</h1>

<form action="/create_type">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="img">img</label><br />
    <input id="img" name="img" type="text" />
  </div>
  <div>
    <label for="type_id">type_id</label><br />
    <input id="type_id" name="type_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

