<h1>New Pokeball</h1>

<form action="/create_pokeball">
  <div>
    <label for="trainer_id">trainer_id</label><br />
    <input id="trainer_id" name="trainer_id" type="text" />
  </div>
  <div>
    <label for="pokemon_id">pokemon_id</label><br />
    <input id="pokemon_id" name="pokemon_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

