<h1>New Pokemon</h1>

<form action="/create_character">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="img">image</label><br />
    <input id="img" name="img" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

