<h1> Welcome to the Pokemon Page!!!</h1>
<style>
h1 {
  color: Blue;
}
</style>
<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ3tmLagNZu2RsX77H3u_EZUehzfaFp_aCbQztkJCzpdLisrN68bpc8jCkQ">