<h1>New Trainer</h1>

<form action="/create_trainer">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="img">image</label><br />
    <input id="img" name="img" type="text" />
  </div>
  <div>
    <label for="trainer_id">trainer_id</label><br />
    <input id="trainer_id" name="trainer_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

